[submodule ".registry"]
	path = .registry
	url = https://github.com/vincenzoaellis/vincenzoaellis.r-universe.dev
	branch = HEAD
[submodule "malaviR"]
	path = malaviR
	url = https://github.com/vincenzoaellis/malaviR
